src/main/mule/auto-discovery-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c0dc726-6914-4648-8ae0-271ba426ca39" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="221fe914-6920-4bae-8956-850547a1f01b" file="properties/${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="57411d62-7ef1-4fa9-b152-cedad83a6de1" name="env" value="local" />
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="ea92238e-e163-4a47-ace9-8e80bd1e5b67" flowRef="auto-discovery-demoFlow" />
	<secure-properties:config name="YAML_Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="d71f1606-b76a-4691-9292-10d0207355a3" file="properties/secure/${env}.yaml" key="${runtime.property}" >
		<secure-properties:encrypt algorithm="Blowfish"/>
	</secure-properties:config>
	<secure-properties:config name="PROPERTIES_Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="d0cc8aa3-e8e5-4855-a580-1f28f20aefd7" key="${runtime.property}" file="properties/secure/qa.properties">
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="auto-discovery-demoFlow" doc:id="6e95ca70-e910-4bbd-8bf3-8c6ffd10fc83" >
		<http:listener doc:name="Listener" doc:id="bf8aa0b7-643a-4bf5-b446-54a622c0bb0a" config-ref="HTTP_Listener_config" path="/autodiscovery"/>
		<set-variable value="${environment}" doc:name="Set Variable" doc:id="ea97844c-fd45-4aa0-b2a1-1afc5eb7dff0" variableName="environment"/>
		<set-variable value="${secure::credentials.username}" doc:name="Set Variable" doc:id="cd3b52dc-ee41-46e4-ae77-bed8fb06984c" variableName="username"/>
		<set-variable value="#[Mule::p('secure::credentials.password')]" doc:name="Set Variable" doc:id="6d4079fc-dea4-4836-a88e-6a070968e0ad" variableName="password"/>
		<ee:transform doc:name="Transform Message" doc:id="65b8834b-aeac-4de0-8643-d2e0a7611399" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"ENVIORNMENT": vars.environment,
	"USERNAME": vars.username,
	"PASSWORD": vars.password,
	"user": p('secure::credentials.username'),
	"pass": Mule::p('secure::credentials.password')
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
